{% extends "base.html" %}

{% block content %}



<form action="" method="POST">
    <p></p>
    <l>username:</l>
    <input type="text" name="username" value="{{username}}" >
    {%if username_error|length%}

            <l>Error! {{username_error}}</l>

    {%endif%}
    <p></p>
    <l>Password:</l>
    <input type="password" name="password1" >
    {%if password_error1|length%}

            <l>Error! {{password_error1}}</l>

    {%endif%}
    <p></p>
    <l>Confirm Password:</l>
    <input type="password" name="password2" >
    {%if password_error2|length%}

            <l>Error! {{password_error2}}</l>

    {%endif%}
    <p></p>
    <l>E-Mail: (optional)</l>
    <input type="text" name="email" value="{{email}}">
    {%if email_error|length%}

            <l>Error! {{email_error}}</l>

    {%endif%}
    <p></p>
    <input type="submit" value="Submit">
</form>
{% endblock %}